  {# Required meta tags #}
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  {# SEO #}
  <title>{{ seoTitle or title }}</title>
  {% if seoDescription -%}
    <meta name="description" content="{{ seoDescription }}">
  {%- endif %}
  <link rel="canonical" href="{{ site.url }}{{ canonicalUrl or page.url }}">

  {# Tailwind & Site CSS #}
  <link href="/assets/css/main.css" rel="stylesheet">

  {# Icons, manifest, theme #}
  <link rel="manifest" href="/site.webmanifest">
  <meta name="theme-color" content="#000000">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.imagesUrl }}/site/icons/textease-favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.imagesUrl }}/site/icons/textease-favicon-16x16.png">
  <link rel="mask-icon" href="{{ site.imagesUrl }}/site/icons/textease-safari-pinned-tab.svg" color="#000000">
  <meta name="msapplication-TileColor" content="#ffffff">

  {# Misc #}
  {# <meta name="monetization" content="$ilp.uphold.com/rArwUNMrHX9D"> #}

  {# Web Analytics  #}
  {% if site.isProduction %}
    {% include "blocks/common/web-analytics.njk" %}
  {% endif %}
