---
seoTitle: Textease
seoDescription: 

txteJsModule: /assets/js/app.js
---

<div class="h-[100vh] flex flex-col">
  
  <div class="text-center bg-stone-600 flex flex-col gap-2 py-4">
    <div>
      <input type="text" id="textInput" class="rounded-md" size="40" placeholder="Text to ease (e.g., a key or password)">
    </div>
    <div id="toolbar">
      <button type="button" class="txte-button font-sans" data-font="sans">sans</button>
      <button type="button" class="txte-button font-serif" data-font="serif">serif</button>
      <button type="button" class="txte-button font-mono" data-font="mono">mono</button>
    </div>
  </div>

  <div id="textEase" class="px-6 flex flex-wrap content-evenly justify-center gap-x-10 text-9xl flex-grow" data-font="mono">
    <template id="easeItemTemplate">
      <div class="bg-stone-100 leading-normal px-1 rounded-md group-hover:bg-stone-300">
        <b class="cursor-default"></b>
      </div>
    </template>
  </div>

</div>