---
seoTitle: TextEase
seoDescription: 

txteJsModule: /assets/js/app.js
---

<div class="bg-[darkorange]">

<div class="h-[100vh] flex flex-col">
  
  <div class="text-center bg-white py-8">
    <div class="aur-container-lg flex justify-between items-center">
      <h1 class="text-5xl font-mono font-semibold">TextEase</h1>
      <input type="text" id="textInput" size="40" placeholder="Enter text to ease (e.g., a key or password)"
        class="rounded-sm shadow-sm focus:border-black focus:ring focus:ring-black focus:ring-opacity-50">
    </div>
  </div>

  <div id="textEase" class="px-6 flex flex-wrap content-evenly justify-center gap-x-10 flex-grow text-white" data-font="mono">
    <template id="easeItemTemplate">
      <b class="cursor-default"></b>
    </template>
  </div>

</div>

<section class="bg-black bg-opacity-50 py-24">
  <div id="toolbar" class="aur-container-lg">
    <button type="button" class="txte-button font-sans" data-font="sans">sans</button>
    <button type="button" class="txte-button font-serif" data-font="serif">serif</button>
    <button type="button" class="txte-button font-mono" data-font="mono">mono</button>
  </div>
</section>

</div>